#**'os' library to change working directory**

In [4]:
 import os

#**'pandas' library to work with dataframes**

In [2]:
import pandas as pd

In [5]:
from google.colab  import files
uploaded=files.upload()

Saving Toyota.csv to Toyota.csv

#**Changing the working directory**

In [6]:
os.chdir("file path")

FileNotFoundError: ignored

#**Importing data**

In [6]:
data_csv=pd.read_csv('Toyota.csv')
#data_xlsx=pd.read_excel('name_of_file.xlsx')
#data_txt=pd.read_table('name_of_file.txt')

#Blank cells read as 'nan'

#**Removing extra id column by passing index_col=0**

In [11]:
data_csv=pd.read_csv('Toyota.csv',index_col=0)
print(data_csv.head(5))

   Price   Age     KM FuelType  HP  MetColor  Automatic    CC  Doors  Weight
0  13500  23.0  46986   Diesel  90       1.0          0  2000  three    1165
1  13750  23.0  72937   Diesel  90       1.0          0  2000      3    1165
2  13950  24.0  41711   Diesel  90       NaN          0  2000      3    1165
3  14950  26.0  48000   Diesel  90       0.0          0  2000      3    1165
4  13750  30.0  38500   Diesel  90       0.0          0  2000      3    1170

#**Junk values(special character) can be converted to missing values by passing them as a list to the parameter 'na_values'**

In [12]:
data_csv=pd.read_csv('Toyota.csv',index_col=0,na_values=["??","###"])

#**Checking data types of each column**

In [13]:
data_csv.dtypes

Price          int64
Age          float64
KM           float64
FuelType      object
HP            object
MetColor     float64
Automatic      int64
CC             int64
Doors         object
Weight         int64
dtype: object

#**Count of unique data types**

In [15]:
data_csv.value_counts() #returns counts of unique datatypes in the dataframe

Price  Age   KM        FuelType  HP   MetColor  Automatic  CC    Doors  Weight
4350   44.0  158320.0  Diesel    69   0.0       0          1800  5      1110      1
10950  56.0  46500.0   Petrol    86   0.0       0          1300  5      1035      1
       58.0  55478.0   Petrol    86   0.0       0          1300  5      1045      1
             51421.0   Petrol    110  0.0       1          1600  5      1105      1
       57.0  118833.0  Petrol    110  0.0       0          1600  3      1065      1
                                                                                 ..
8950   59.0  76162.0   Petrol    110  1.0       0          1600  5      1075      1
             98658.0   Petrol    86   1.0       0          1300  3      1020      1
             137050.0  CNG       110  1.0       0          1600  3      1078      1
       60.0  40000.0   Petrol    86   1.0       0          1300  4      1000      1
31275  4.0   1500.0    Diesel    116  1.0       0          2000  5      1480      1
Length: 1099, dtype: int64

#**Selecting data based on data types**

In [16]:
data_csv.select_dtypes(exclude=[object])#returns a subset of the columns from dataframe based on the column dtypes

      Price   Age       KM  MetColor  Automatic    CC  Weight
0     13500  23.0  46986.0       1.0          0  2000    1165
1     13750  23.0  72937.0       1.0          0  2000    1165
2     13950  24.0  41711.0       NaN          0  2000    1165
3     14950  26.0  48000.0       0.0          0  2000    1165
4     13750  30.0  38500.0       0.0          0  2000    1170
...     ...   ...      ...       ...        ...   ...     ...
1431   7500   NaN  20544.0       1.0          0  1300    1025
1432  10845  72.0      NaN       0.0          0  1300    1015
1433   8500   NaN  17016.0       0.0          0  1300    1015
1434   7250  70.0      NaN       1.0          0  1300    1015
1435   6950  76.0      1.0       0.0          0  1600    1114

[1436 rows x 7 columns]

#**info()**

returns a concise summary of a dataframe

Syntax: DataFrame.info()

In [17]:
data_csv.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1436 entries, 0 to 1435
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Price      1436 non-null   int64
 1   Age        1336 non-null   float64
 2   KM         1421 non-null   float64
 3   FuelType   1336 non-null   object
 4   HP         1436 non-null   object
 5   MetColor   1286 non-null   float64
 6   Automatic  1436 non-null   int64
 7   CC         1436 non-null   int64
 8   Doors      1436 non-null   object
 9   Weight     1436 non-null   int64
dtypes: float64(3), int64(4), object(3)
memory usage: 123.4+ KB

#**Exploratory data analysis**

#*Importing Data*

In [7]:
df=pd.read_csv('Toyota.csv',index_col=0,na_values=["??","????"])
print(df)

      Price   Age       KM FuelType  ...  Automatic    CC  Doors  Weight
0     13500  23.0  46986.0   Diesel  ...          0  2000  three    1165
1     13750  23.0  72937.0   Diesel  ...          0  2000      3    1165
2     13950  24.0  41711.0   Diesel  ...          0  2000      3    1165
3     14950  26.0  48000.0   Diesel  ...          0  2000      3    1165
4     13750  30.0  38500.0   Diesel  ...          0  2000      3    1170
...     ...   ...      ...      ...  ...        ...   ...    ...     ...
1431   7500   NaN  20544.0   Petrol  ...          0  1300      3    1025
1432  10845  72.0      NaN   Petrol  ...          0  1300      3    1015
1433   8500   NaN  17016.0   Petrol  ...          0  1300      3    1015
1434   7250  70.0      NaN      NaN  ...          0  1300      3    1015
1435   6950  76.0      1.0   Petrol  ...          0  1600      5    1114

[1436 rows x 10 columns]

#**Creating copy of original data**

In [8]:
df1=df.copy()

#**Frequancy Table**

In [9]:
pd.crosstab(index=df1['FuelType'],columns='count',dropna=True)

col_0     count
FuelType
CNG          15
Diesel      144
Petrol     1177

#**Two way Table**

In [10]:
pd.crosstab(index=df1['Automatic'],columns=df1['FuelType'],dropna=True)

FuelType   CNG  Diesel  Petrol
Automatic
0           15     144    1104
1            0       0      73

#**Joint Probability**

In [11]:
pd.crosstab(index=df1['Automatic'],columns=df1['FuelType'],normalize=True,dropna=True)

FuelType        CNG    Diesel    Petrol
Automatic
0          0.011228  0.107784  0.826347
1          0.000000  0.000000  0.054641

#**Marginal Probability**

In [12]:
pd.crosstab(index=df1['Automatic'],columns=df1['FuelType'],dropna=True,margins=True,normalize=True)

FuelType        CNG    Diesel    Petrol       All
Automatic
0          0.011228  0.107784  0.826347  0.945359
1          0.000000  0.000000  0.054641  0.054641
All        0.011228  0.107784  0.880988  1.000000

#**Conditional Probability**

In [13]:
pd.crosstab(index=df1['Automatic'],columns=df1['FuelType'],dropna=True,margins=True,normalize='index')

FuelType        CNG    Diesel    Petrol
Automatic
0          0.011876  0.114014  0.874109
1          0.000000  0.000000  1.000000
All        0.011228  0.107784  0.880988

#**Correlation**

#We will use pearson method for that we need to exclude catagorical variables.

In [15]:
num_data=df1.select_dtypes(exclude=[object])
print(num_data)

      Price   Age       KM     HP  MetColor  Automatic    CC  Weight
0     13500  23.0  46986.0   90.0       1.0          0  2000    1165
1     13750  23.0  72937.0   90.0       1.0          0  2000    1165
2     13950  24.0  41711.0   90.0       NaN          0  2000    1165
3     14950  26.0  48000.0   90.0       0.0          0  2000    1165
4     13750  30.0  38500.0   90.0       0.0          0  2000    1170
...     ...   ...      ...    ...       ...        ...   ...     ...
1431   7500   NaN  20544.0   86.0       1.0          0  1300    1025
1432  10845  72.0      NaN   86.0       0.0          0  1300    1015
1433   8500   NaN  17016.0   86.0       0.0          0  1300    1015
1434   7250  70.0      NaN   86.0       1.0          0  1300    1015
1435   6950  76.0      1.0  110.0       0.0          0  1600    1114

[1436 rows x 8 columns]

#Correlation between numerical variables

In [17]:
corr_matrix=num_data.corr()
print(corr_matrix)

              Price       Age        KM  ...  Automatic        CC    Weight
Price      1.000000 -0.878407 -0.574720  ...   0.033081  0.165067  0.581198
Age       -0.878407  1.000000  0.512735  ...   0.032573 -0.120706 -0.464299
KM        -0.574720  0.512735  1.000000  ...  -0.081248  0.299993 -0.026271
HP         0.309902 -0.157904 -0.335285  ...   0.013755  0.053758  0.086737
MetColor   0.112041 -0.099659 -0.093825  ...  -0.013973  0.029189  0.057142
Automatic  0.033081  0.032573 -0.081248  ...   1.000000 -0.069321  0.057249
CC         0.165067 -0.120706  0.299993  ...  -0.069321  1.000000  0.651450
Weight     0.581198 -0.464299 -0.026271  ...   0.057249  0.651450  1.000000

[8 rows x 8 columns]